body{
	background-image: url(image1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: Georgia, times, seriff;
	font-style: italic;
	text-align: left;
	text-indent: all;
	background-color: rgb(100,100,90);
	font-size: 100%;
	padding-top:10px;

}
h1{font-size: 40px;
	background-image: url(image6.jpg);
}
.logo{
	text-indent: -999999px;
	background: url(logo.png);
	width: 960px;
	height: 148px;
}
ul{
	font-size: 20px;
	float: left;
	list-style-type: none;
	text-align: left;
}
ul li{
	display: inline-block;
	padding: 5px 20px;
	border: 1px solid #fff;

}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
}
div{
	text-align: left;
}
#sideNav{
	width: 100px;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	background: #009688;
	z-index: 2;
}

p {
	height: 75%;
	width: 75%;
	background-color: #0088dd;
}
img.align-center{
	display: block;
	margin: 0px auto;
}
img.medium{
	width: 250px;
	height: 250px;
}
img.align-left{
	float: left;
	margin-right: 10px;
}
img.medium{
	width: 250px;
	height: 250px;
}
img.align-right{
	float: right;
	margin-left: 10px;
}
img.medium{
	width: 250px;
	height: 250px;
}
.button{
	padding: 100px;
	position: absolute;
	top: 60%;
	left: 50%
	transform: translate(-50%, -50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;

}
.btn:hover{
	background-color: darkorange;
	color: #000;
}